{% extends "base.html" %}
{% block body %}
    {% if has_not_deleted %}
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>ISBN</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Число страниц</th>
                    <th>Год</th>
                    <th>Добавлено</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    {% if not book.deleted %}
                        <tr>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.pages }}</td>
                            <td>{{ book.year }}</td>
                            <td>{{ book.added_on }}</td>
                            <td>
                                <a href="{{ url_for("delete", id=loop.index - 1) }}">
                                    <button type="button" class="btn btn-danger">delete</button>
                                </a>
                                <a href="{{ url_for("update", id=loop.index - 1) }}">
                                    <button type="button" class="btn btn-primary">edit</button>
                                </a>
                                <a href="{{ url_for("get_book_status", id=loop.index - 1) }}">
                                    <button type="button" class="btn btn-info">status</button>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Книг нет</h1>
    {% endif %}
{% endblock %}