{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('create') }}" method="post">
        <p><label for="isbn">ISBN</label> <input type="text" id="isbn" name="isbn"></p>
        <p><label for="name">Название</label> <input type="text" id="name" name="name"></p>
        <p><label for="author">Автор</label> <input type="text" id="author" name="author"></p>
        <p><label for="pages">Число страниц</label> <input type="text" id="pages" name="pages"></p>
        <p><label for="year">Год</label> <input type="text" id="year" name="year"></p>
        <p><label for="added_on">Добавлено</label> <input type="text" id="added_on" name="added_on"></p>
        <p><input type="submit"></p>
    </form>
{% endblock %}
